.app {
    background-color: #ddd;
    margin-top: 100px;
    width: 500px;
    margin: auto;
    height: 300px;
}

#quote-box {
    margin: 0 20px;
    margin-top: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    font-size: 16px;
}